*{
    margin: 0%;
    padding:  0%;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100%;
    text-align: center;
    font-size: 100px;
    font-weight: bold;
    background: rgb(17, 151, 163);
    display: flex;
    justify-content: center;
    align-items: center;
    

}
span{
    background: white;
    width: 200px; 
    padding: 0px 50px;
    cursor: pointer; 
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    border-radius: 10px;
}
#num{
    border-left: 2px solid grey;
    border-right: 2px solid grey;
    text-align: center;

}
input{
    font-size: 100px;
    width: 100px;
    display: inline-block;
    border: none;
}
input:focus{
    outline: none;
}
::placeholder{
    width: auto;
    text-align: center;

} 
@media (max-width: 576px){
    body{
        display: grid;
    }
    span{
        padding: 0px 0px;
    }
}