*{
    font-family: montserrat;
}
body{
    background: #f1fbff;
}

.carousel-item{
    height: 100vh;
    min-height: 300px;

}
.carousel-caption{
    bottom: 120px;
    
    z-index: 2;
}
.carousel-caption h5{
    font-size: 45px;
    color: #f1fbff;
    letter-spacing: 5px;
    margin-top: 25PX;

}
.carousel-caption P{
    width: 60%;
    margin: auto;
    font-size: 18px;
    line-height: 1.9;
    color: #f1fbff;
}

.carousel-inner::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.3);
    z-index: 1;
}
.navbar-nav a{
    font-size: 15px;
    font-weight: 500;
}
.navbar-light .navbar-brand{
color: #000;
font-size: 25px;
font-weight: 700;
letter-spacing: 2px;
}
.navbar-light .navbar-brand:focus,
.navbar-light .navbar-brand:hover
{
color: wheat;
}
.navbar-light .navbar-nav .navbar-link{
color: #000;
}
.w-100{
    height: 100vh;
}

.about-img{
    border: 1px solid black;
    height: 400px;
    width: 100%;

}
.about-img img{
    height: 100%;
    width: 100%;
}
.about-text{
    margin-top: 10%;
}
.section-padding{
padding: 50px 0;
}
.service .card .card-body i{
    font-size: 50px;
}
.img-area{
    height: 350px;
}
.img-area img{
    height: 100%;
}
.team .card-body{
    font-size: 20px;
}
.card{
    box-shadow: 15px 15px 40px rgba(0,0,0,0.15);
}
.team img{
    height: 200px;
}
/* responsive css */
@media (min-width: 1400px){
    .carousel-caption{
        bottom: 320px;
    }
}
@media only screen and (min-width:992px) and (max-width:1200px){
    .carousel-caption{
        bottom: 350px;
    }
}


@media only screen and (min-width:768px) and (max-width:991px){
    .carousel-caption{
        bottom: 280px;
    }
    .carousel-caption p{
        width: 100%;
        line-height: 2.0;
    }
    .card{
        margin-bottom: 30px;
    }
}
@media only screen and (max-width:767px){
    .navbar-nav{
        text-align: center;
    }
    .carousel-caption{
        bottom: 250px;
    }
    
    .carousel-caption a{
        padding: 10px 15px;
    }
    .carousel-caption p{
        width: 100%
    }
    .about-text{
        padding-top: 50px;
    }
    .card{

        margin-bottom: 30px;
    }
}
